.super_container
{
    width: 100%;
    overflow: hidden;
}

.top_nav_left
{
    height: 50px;
    line-height: 50px;
    font-size: 13px;
    color: #b5aec4;
    text-transform: uppercase;
}

.hero__categories__all {
    background: #7fad39;
    position: relative;
    padding: 10px 25px 10px 40px;
    cursor: pointer;
}
.hero__categories__all {
    background: #7fad39;
    position: relative;
    padding: 10px 25px 10px 40px;
    cursor: pointer;
}
.hero__categories__all {
    background: #7fad39;
    position: relative;
    padding: 10px 25px 10px 40px;
    cursor: pointer;
}

.hero__categories__all i {
    font-size: 16px;
    color: #ffffff;
    margin-right: 10px;
}

.hero__categories__all span {
    font-size: 18px;
    font-weight: 700;
    color: #ffffff;
}

.hero__categories__all:after {
    position: absolute;
    right: 18px;
    top: 9px;

    font-family: "ElegantIcons";
    font-size: 18px;
    color: #ffffff;
}

.hero__categories ul {
    border: 1px solid #ebebeb;
    padding-left: 40px;
    padding-top: 10px;
    padding-bottom: 12px;
}

.hero__categories ul li {
    list-style: none;
}

.hero__categories ul li a {
    font-size: 16px;
    color: #1c1c1c;
    line-height: 39px;
    display: block;
}
.hero__search__form form .hero__search__categories span {
    position: absolute;
    right: 14px;
    top: 14px;
}

.hero__search__form form input {
    width: 70%;
    border: none;
    height: 48px;
    font-size: 16px;
    color: #b2b2b2;
    padding-left: 20px;
}

.hero__search__form form input::placeholder {
    color: #b2b2b2;
}

.hero__search__form form button {
    position: absolute;
    right: 0;
    top: -1px;
    height: 50px;
}


.hero__search__phone__text h5 {
    color: #1c1c1c;
    font-weight: 700;
    margin-bottom: 5px;
}

.hero__search__phone__text span {
    font-size: 14px;
    color: #6f6f6f;
}

.hero__item {
    height: 431px;
    display: flex;
    align-items: center;
    padding-left: 75px;
}

.hero__text span {
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 4px;
    color: #7fad39;
}

.hero__text h2 {
    font-size: 46px;
    color: #252525;
    line-height: 52px;
    font-weight: 700;
    margin: 10px 0;
}

.hero__text p {
    margin-bottom: 35px;
}
/*---------------------
Categories
-----------------------*/

.categories__item {
    height: 270px;
    position: relative;
}

.categories__item h5 {
    position: absolute;
    left: 0;
    width: 100%;
    padding: 0 20px;
    bottom: 20px;
    text-align: center;
}

.categories__item h5 a {
    font-size: 18px;
    color: #1c1c1c;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 2px;
    padding: 12px 0 10px;
    background: #ffffff;
    display: block;
}

.categories__slider .col-lg-3 {
    max-width: 100%;
}

.categories__slider.owl-carousel .owl-nav button {
    font-size: 18px;
    color: #1c1c1c;
    height: 70px;
    width: 30px;
    line-height: 70px;
    text-align: center;
    border: 1px solid #ebebeb;
    position: absolute;
    left: -35px;
    top: 50%;
    -webkit-transform: translateY(-35px);
    background: #ffffff;
}

.categories__slider.owl-carousel .owl-nav button.owl-next {
    left: auto;
    right: -35px;
}

.banner_item
{
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 265px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}
.banner_category
{
    height: 50px;
    background: #FFFFFF;
    min-width: 180px;
    padding-left: 25px;
    padding-right: 25px;
}
.banner_category a
{
    display: block;
    color: #1e1e27;
    text-transform: uppercase;
    font-size: 22px;
    font-weight: 600;
    text-align: center;
    line-height: 50px;
    width: 100%;
    -webkit-transition: color 0.3s ease;
    -moz-transition: color 0.3s ease;
    -ms-transition: color 0.3s ease;
    -o-transition: color 0.3s ease;
    transition: color 0.3s ease;
}
.banner_category a:hover
{
    color: #b5aec4;
}

/*footer*/
footer {
    background: #f2f2f2;
    margin-top: 20px;
}

.detail-img{
    width: 900px;
    height: 900px;
}
